/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----resetEnd---- */
body{
    font-size: 15px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.container{
    max-width: 65%;

}
.done{
    text-decoration: line-through;
}
.header{
    height: 54px; 
    background-color: #fafafa;
    border-bottom: 1px solid #f0f0f0;
}
.title{
    padding: 16px;
}
.date{
    padding: 16px;
}
.filter{
    padding: 16px;
    position: relative;
}

.filter:hover{
    background: #e5e5e5;
}

.red{
    color:red;
}
.action{
    padding: 16px;
}
.grid {
    display: grid;
    grid-template-columns: 2fr 0fr 1fr 1fr;
}
.todoitem{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.Btn{
    margin-top: 15px;
    border-radius: 2px;
    padding: 4px 15px;
    border: 1px solid #d9d9d9;
}
.complete{
    background-color: #1890ff;
    color: #fff;
}
.delete{
    background-color: #ff7875;
    margin: 5px;
    color: #fff;
}
.todoitem:hover {
    background-color: #fafafa;
}

.todoitem{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
    transition: background .3s;
}

.itemTitle{
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: .5em;
}

.itemDate{
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.itemAction{
    padding: 16px;
    box-sizing: border-box;
}

.pagination{
    display: flex;
    justify-content: flex-end;
}
.filter-form{
    width: 250px;
    padding: 50%;
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #fff;
    border: 1px solid #000;
}
.form-filter-center{
text-align: center;
}

.hide{
    display:none;
}

.headerAdd{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.addBtn{
    width: 100%;
    margin-bottom:20px;
}

.addForm{
    text-align: center;
}

.all-input{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.dataContent{
    margin:5px;

}

.event-message{
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
    position: absolute;
    bottom: 5%;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.close:hover{
    background: #95dfef
}

.event-message.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-4-19 22:33:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

.warning{
color: #ff4d4f;
font-size: 20px;
margin: 0px 20px ;
}

